body{
    margin: 0;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid black;
    height: 100px;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style-type: none; 
    font-size: 30px;
}
